#content {
	width: 100%;
}

/* maximum crisp */
* {
	-webkit-user-select: none;
	cursor: default;
	font-family: verdana, sans-serif;
}

*:focus {
	outline: none;
}

body {
	margin: 0;
	overflow: hidden;
	background-color: #203142;
}

button {
	outline: none;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.container {
	margin: 20px;
	margin-bottom: 0px;
}

.title {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	color: white;

	margin-bottom: 6px;
}

.controls {

}

#controls {

}

.controls {
	border-radius: 5px;
}

.controls.green {
	border: 2px lightgreen solid;
	background: -webkit-linear-gradient(lightgreen, white);
}

.controls.red {
	border: 2px red solid;
	background: -webkit-linear-gradient(red, white);
}

.controlsTop {
	padding: 8px;
}

.controlsTop-icon {
	display: inline-block;
}

.controlsTop-lead {
	display: inline-block;
	font-size: large;
	padding-left: 5px;
}

.controlsTop-button {
	height: 20px;
	width: 50px;
	float: right;
	border-radius: 9px;
	font-size: xx-small;
	font-weight: bold;
}

.controlsTop-button.green {
	background: lightgreen;
	border: 1px green solid;
}

.controlsTop-button.red {
	background: red;
	border: 3px black solid;
}

.controls hr {
	border-style: groove;
	border-color: greenyellow;
	width: 100%;
	margin: 0;
}

.controlsBottom {

}

.controlsBottom p {
	text-align: center;
}

.password {
	text-align: center;
	font-size: xx-large;
	width: 100%;
}

#passwordCheck {
	float: left;
	margin-left: 0px;
}

.setting {
	margin-bottom: 4px;
	color: white;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 9px;
}

footer .extra {
	display: inline-block;
	width: 50%;
}

footer .extra .social a {
	margin-left: 10px;
	color: white;

	display: inline-block;
}

footer .credits {
	display: inline-block;
	width: 50%;

	color: white;
	font-weight: bold;
}

footer .credit {
	color: white;
	font-weight: bold;
	font-size: x-small;

	text-align: right;
	margin-right: 10px;
}